header{
    /*background-image: url('https://picsum.photos/id/1051/2000/300');*/
    background-image:url('https://en.pimg.jp/044/452/712/1/44452712.jpg') ;
    padding: 1em;
}

#header-title{
    width: 60%;
    margin: 1em 30% 1em 10%;
    background-color: rgba(255, 255, 255, 0.75);
    color: white;
    padding: 1em;
    font-family: 'Dancing Script';
}

#header-title h1{
    font-family: 'Dancing Script';
    color: rgb(0, 18, 43);
}

#header-title h3{
    font-family: 'Special Elite', cursive;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}